# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# dotenv environment variables file
.env.dev
.env.prod
.env.**
funcions/.env.*

*debug.log